{% extends "base.html" %}

{% block content %}

<h1 class="section-title">

Matrix Calculator

</h1>

<div class="calculator-grid">

    <!-- UPPER LEFT -->
    <div class="glass">

        <h3>Enter Augmented Matrix</h3>

<div class="matrix-tabs">

    <button class="matrix-btn active"
            id="btn3"
            onclick="setMatrixSize(3)">

        3x4 Matrix

    </button>

    <button class="matrix-btn"
            id="btn4"
            onclick="setMatrixSize(4)">

        4x5 Matrix

    </button>

</div>

<table class="matrix" id="matrixTable"></table>

<button onclick="solveSystem()">

    Solve System

</button>

    </div>


    <!-- UPPER RIGHT -->
    <div class="glass purple">

        <h3>

            Inputted Matrix

        </h3>

        <div id="matrixDisplay" class="matrix-display">


        </div>

    </div>


    <!-- LOWER LEFT -->
    <div class="glass green">

        <h3>

            Final Solution

        </h3>

        <div id="solution">


        </div>

    </div>


    <!-- LOWER RIGHT -->
    <div class="glass purple">

        <h3>

            Elimination Steps

        </h3>

        <div id="steps">


        </div>

    </div>

</div>

{% endblock %}